/*
 * 2011-2022 PrestaBR
 * 
 * Módulo de Pagamento para Integração com o PagSeguro
 *
 * Pagamento com Cartão de Crédito, Boleto e Transferência Bancária
 * Checkout Transparente - Módulo Oficial - PS 1.6.x
 *
 */

.moduleconfig-header {}
.moduleconfig-header .text-center a {display:inline-block; float:none; margin:auto;}
.payment_options {}
.payment_options .panel .panel-body { padding:0; }
.nopadding { padding:0 !important;}
.nopadding-left { padding-left:0 !important;}
.nopadding-right { padding-right:0 !important;}
@media(max-width:1400px){
.ajust{min-height:168px}
}
.itens{padding:20px 0 0 0;border-top: 1px solid #ddd;}

.documentacao{
	padding: 0 0 20px 0;
}
.documentacao a{
    background: #326cc4;
    color: #fff;
    box-shadow: 0 0 2px #222;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 6px;
    padding:10px;
    font-weight:bold;
}
.documentacao a.a:link,
.documentacao a:visited,
.documentacao a:hover,
.documentacao a:active{color:#fff}
.icon-sliders,
.icon-database{font-size:22px}

.brand-logo {
	background-image: url(../img/ps-brands-x40.png);
	display: none;
	width: 60px;
	height: 40px;
	background-size: 460px 460px;
	text-indent:-9999px;
	border:1px solid #eee;
	border-radius: 3px;
	box-sizing: border-box;
}
.brand-logo.alelo {
    background-position: -80px 0;
    display: inline-block
}

.brand-logo.amex {
    background-position: -320px -180px;
    display: inline-block
}

.brand-logo.aura {
    background-position: 0 -60px;
    display: inline-block
}

.brand-logo.avista {
    background-position: -80px -60px;
    display: inline-block
}

.brand-logo.balance {
    background-position: -160px 0;
    display: inline-block
}

.brand-logo.banesecard {
    background-position: -160px -60px;
    display: inline-block
}

.brand-logo.banri-compras {
    background-position: 0 -120px;
    display: inline-block
}

.brand-logo.banrisul {
    background-position: -80px -120px;
    display: inline-block
}

.brand-logo.bb {
    background-position: -160px -120px;
    display: inline-block
}

.brand-logo.ben {
    background-position: 0 -180px;
    display: inline-block
}

.brand-logo.boleto {
    background-position: -80px -180px;
    display: inline-block
}

.brand-logo.bradesco {
    background-position: -160px -180px;
    display: inline-block
}

.brand-logo.brasilcard {
    background-position: -240px 0;
    display: inline-block
}

.brand-logo.cabal-debito {
    background-position: -240px -60px;
    display: inline-block
}

.brand-logo.cabal {
    background-position: -240px -120px;
    display: inline-block
}

.brand-logo.caixa {
    background-position: -240px -180px;
    display: inline-block
}

.brand-logo.cardban {
    background-position: 0 -240px;
    display: inline-block
}

.brand-logo.cielo {
    background-position: -80px -240px;
    display: inline-block
}

.brand-logo.default {
    background-position: -160px -240px;
    display: inline-block
}

.brand-logo.diners {
    background-position: -240px -240px;
    display: inline-block
}

.brand-logo.elo {
    background-position: -320px 0;
    display: inline-block
}

.brand-logo.fortbrasil {
    background-position: -320px -60px;
    display: inline-block
}

.brand-logo.grandcard {
    background-position: -320px -120px;
    display: inline-block
}

.brand-logo.hiper {
    background-position: 0 0;
    display: inline-block
}

.brand-logo.hipercard {
    background-position: -320px -240px;
    display: inline-block
}

.brand-logo.itau {
    background-position: 0 -300px;
    display: inline-block
}

.brand-logo.maestro {
    background-position: -80px -300px;
    display: inline-block
}

.brand-logo.mais {
    background-position: -160px -300px;
    display: inline-block
}

.brand-logo.mastercard {
    background-position: -240px -300px;
    display: inline-block
}

.brand-logo.pagbank {
    background-position: -320px -300px;
    display: inline-block
}

.brand-logo.personalcard {
    background-position: -400px 0;
    display: inline-block
}

.brand-logo.plenocard {
    background-position: -400px -120px;
    display: inline-block
}

.brand-logo.prepaid-card {
    background-position: -400px -180px;
    display: inline-block
}

.brand-logo.redeshop {
    background-position: -400px -240px;
    display: inline-block
}

.brand-logo.safra {
    background-position: -400px -300px;
    display: inline-block
}

.brand-logo.santander {
    background-position: 0 -360px;
    display: inline-block
}

.brand-logo.sodexo {
    background-position: -80px -360px;
    display: inline-block
}

.brand-logo.sorocred {
    background-position: -160px -360px;
    display: inline-block
}

.brand-logo.ticket {
    background-position: -240px -360px;
    display: inline-block
}

.brand-logo.upbrasil {
    background-position: -320px -360px;
    display: inline-block
}

.brand-logo.valecard {
    background-position: -400px -360px;
    display: inline-block
}

.brand-logo.verdecard {
    background-position: 0 -420px;
    display: inline-block
}

.brand-logo.visa-electron {
    background-position: -80px -420px;
    display: inline-block
}

.brand-logo.visa {
    background-position: -160px -420px;
    display: inline-block
}

.brand-logo.vr {
    background-position: -240px -420px;
    display: inline-block
}

.brand-logo.policard {
    background-position: -320px -420px;
    display: inline-block
}
/* APP */
#app-rates h2.app-bigtitle,
#app-rates #app-steps h2,
h2.app-faq{color: #EC9121;margin: 0;padding: 2% 0 2% 0;text-align: center;line-height: 1.4;}
#app-rates .allapps{margin: 0 0 3% 0;}
#app-rates .allapps .appd14{border-right: 1px solid #D6D6D6;}
#app-rates .allapps .appd30{border-left: 1px solid #D6D6D6;}
#app-rates .allapps .signit{padding: 15px 15px;font-weight: bold;font-size: 15px;}
#accordionApp h5{background: #DFDFDF;}
#accordionApp button{font-size:17px;color:#0075ff;}
#accordionApp .card-body{font-size: 15px;line-height: 1.6;}
div#app-steps{}
div#app-steps img{max-width:150px}
div#app-steps ul li{margin:0 2px 0 2px}
div.info-app{font-size:10px;color:#000;text-align:center;padding:2% 0 2% 0}
/* Inputs */
#PAGSEGUROPRO_CREDENTIAL { width:300px !important; }
#PAGSEGUROPRO_EMAIL, #PAGSEGUROPRO_TOKEN{max-width: 70%}
#module_form #fieldset_5_5 .panel-footer {border-top:0px}
