<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagseguro</name>
	<displayName><![CDATA[PagSeguro]]></displayName>
	<version><![CDATA[2.0]]></version>
	<description><![CDATA[Get paid by credit card, bank transfer and boleto.]]></description>
	<author><![CDATA[PagSeguro Internet LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to remove this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>