<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pagseguro</name>
	<displayName><![CDATA[PagSeguro]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[Receba pagamentos por cartão de crédito, transferência bancária e boleto]]></description>
	<author><![CDATA[PagSeguro Internet LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Tem certeza que deseja remover este módulo?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>